body {
  background-color: #140352;
}

.form-container-login {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #fff;
  background: linear-gradient(#1f066f, #0B60B0);
  border-radius: 10%;
  align-items: center;
  margin: 35%;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.form-group-login {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-field-login {
  padding: 10px;
  margin-left: 10px;
  width: calc(100% - 30px);
  /* Adjust for icon and spacing */
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.error-login {
  color: red;
  font-size: 12px;
}

.h2-login {
  font-size: 30px;
}

.label-login {
  color: #edf4ff;
  font-size: 25px;
}

.input-icon-login svg {
  font-size: 30px;
  color: #edf4ff;
  padding: 5px;
}

.btn-submit-login {
  align-items: center;
  appearance: button;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 10;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #03828e;
  color: #FFFFFF;
  width: 55%;
  padding-bottom: 20px;
  margin: 0 auto; /* Center the button horizontally */
}

.btn-submit-login:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: #0bbeb9;
}

.btn-submit-login:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn-submit-login,
.btn-submit-login:focus {
  user-select: auto;
}

.btn-submit-login:disabled {
  cursor: auto;
}

.btn-submit-login:active {
  border-width: 4px 0 0;
  background: none;
}

.btn-link-login {
  background: none;
  color: rgb(205, 205, 238);
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.form-login-login,
.form-reset-login {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form elements */
}

.form-group-login span {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.success-message {
  text-align: center;
  color: #ccc;
  font-size: 20px;
  padding: 5px;
}